body {
    font-family: 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'sans serif';
    font-size: 10pt;
}
table {
    font-size: inherit;
}

table td {
    padding: 0 10px;
}

.container {
    width: 800px;
    height: 400px;
}

.hidden {
    display: none;
}
